.input-component input{
    border-radius: 10px;
    border: none;
    padding: 7px 15px;
    width: 100%;
}

.input-component input:focus {
    outline: none;
}

.input-component .input-errors {
    font-size: 15px;
    
    padding: 3px 10px;
    color: rgb(255, 0, 0);

    display: flex;
    flex-direction: column;
}
