.badge-wrapper{
    display: inline-block;
}

.badge {
    padding: 5px;
    border-radius: 10px;
    margin: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.badge.primary {
    background: #0088ff;
    color: #ffffff;
}

.badge.secondary {
    background: #C0C0C0;
    color: #ffffff;
}

.badge.error {
    background: #d52f2f;
    color: #ffffff;
}