* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    
    background: rgb(49,49,49);
    background: linear-gradient(90deg, rgba(49,49,49,1) 0%, rgba(83,83,83,1) 100%);
}

body, input, button, textarea {
    font: 18px  "Roboto", sans-serif;
}

table {
    text-align: left;
}